*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #24353F;
    
}
nav{
    background-color:#24353F ;
    color: #fff;
    box-shadow: 7px 7px 7px #000;
}

nav .navbar-brand{
    
    color: #fff;
}

.content{
    background-color: #24353F; /* Slightly lighter background for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    width:60% ;
    height: 100%;
    color: #fff;
    margin-top: 50px;
    
}